@import '../../../../styles/pallete';
@import '../../../../styles/typography';
@import '../../../../styles/screens';


:local(.styles) {
  margin-bottom: 40px;

  a {
    @include ui-active();
    
    display: inline-block;
    margin-right: 10px;

    font-size: 12px;
  }

  &.filter-tags {
    opacity: 0;
  }
}
