@import '../../../containers/app/styles/typography';
@import '../../../containers/app/styles/pallete';
@import '../../../containers/app/styles/screens';

:local(.styles) {
  margin-top: 70px;
  margin-bottom: 100px;

  span.new-dot {
    $size: 5px;

    background: $green;
    border-radius: 100%;

    top: 13px;
    left: - $size;

    display: inline-block;
    position: absolute;

    width: $size;
    height: $size;
  }

  span.new {
    font-size: 10px;

    color: #FFF;
    background: $green;

    padding: 1px 4px;
    position: relative;

    @include caption();

    border-radius: 2px;

    top: -21px;
  }
}
