@import '../../../../../containers/App/styles/typography';
@import '../../../../../containers/App/styles/pallete';

@mixin paragraph() {
  
  .data {

    &.no-cover-no-link {
      color: $gray;
    }

    p.city {
      @include caption();

      font-weight: 500;

      $size: 38px;

      font-size: $size;
      line-height: $size;
    }

    p.date {
      @include caption();

      font-weight: 100;
      opacity: .7;
    }
  }
}

:local(.styles) {
  transition: 0s;

  border-radius: 2px;

  overflow: hidden;

  color: #000;

  @include paragraph();

  .data {
    position: absolute;
    margin: 20px;

    p.date {
      position: relative;

      $size: 12px;

      font-size: $size;
      line-height: $size + 4;
    }
  }
}
