:local(.styles) {
  position: fixed;
  z-index: 3;

  top: 0;
  left: 0;
  
  background: blue;

  width: 100%;
  height: 100%;

  .surface {
    position: relative;
    clear: both;

    width: 100%;
    height: 100%;

    border-radius: 10px;

    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGUlEQVQIW2NkwAIYCQn+Z2BgACsiqBJuEgA0oAEG+FuXFQAAAABJRU5ErkJggg==);
    background-repeat: repeat;
    
    cursor: pointer;
  }

  canvas {
    width: 100%;
    display: none;
  }
}