@import '../../../containers/app/styles/pallete';
@import '../../../containers/app/styles/typography';

:local(.styles) {
  margin: 100px 0;

  h2 {
    margin-top: 0;
  }

  p {
    @include light();

    color: $black;

    $size: 14px;

    font-size: $size;
    line-height: $size + 6;
  }

  .row {
    margin-bottom: 50px;
  }
}
