{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    connect: true,
    window: true,
    __CLIENT__: true,
    __DEVELOPMENT__: true,
    __INITIAL_STATE__: true,

  },
  "rules": {
    "max-len": 0,
    "import/parser": 0
  },
  "plugins": [
    "react"
  ]
}
