.root {
  position: relative;

  .work {
    margin-bottom: 77px;

    overflow: hidden;
    
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, .07);
    border-radius: 5px;

    padding: 10px 20px;

    &.hide {
      display: none;
    }

    p {
      margin-top: -5px;
    }
  }
}
