.root {
  position: relative;

  .anchor {
    padding-bottom: 40px;
    display: block;

    &.hide {
      display: none;
    }
  }

  .work {
    overflow: hidden;
    
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, .07);
    border-radius: 5px;

    padding: 10px 20px;

    &.hide {
      display: none;
    }

    p {
      margin-top: -5px;
    }
  }
}
