@import '../../../../../containers/App/styles/typography';

:local(.styles) {
  position: relative;

  .title {
    @include caption();

    font-size: 24px;
    font-weight: bold;
  }

  .description {
    @include paragraph();

    font-size: 14px;
  }
}
