@import '../../../containers/App/styles/typography';
@import '../../../containers/App/styles/pallete';
@import '../../../containers/App/styles/screens';

:local(.styles) {
  margin-top: 70px;
  margin-bottom: 100px;

  .chapters-row {
    margin-bottom: 100px;
  }
}
