.key-center {
  text-align: center;
  overflow: hidden;

  display: block;
  height: 230px;
}

.key-girl {
  width: 230px;
  height: 230px;

  overflow: hidden;

  display: inline-block;
}

.girl {
  min-width: 400px;
}

.key-hole {
  margin-left: -230px;

  width: 230px;

  overflow: hidden;
  position: absolute;
}
