/* 
  Global styles 
*/

@import 'fonts/roboto';
@import 'typography';
@import 'pallete';

:global(body) {
  position: relative; 
}

a {
  color: $blue;
  text-decoration: none !important;

  &:hover {
    color: $red;
  }

  &:visited:hover {
    color: $red;
  }

  &:visited {
    color: $purple;
  }
}

img {
  width: 100%;
}
