@import '../../../../containers/App/styles/typography';
@import '../../../../containers/App/styles/pallete';
@import '../../../../containers/App/styles/screens';

:local(.styles) {

  // Information on card
  .data {

    p {
      display: inline-block;
    }

    p.city {
      @include caption();
      
      font-size: 22px;
      line-height: 30px;
    }

    p.date {
      @include caption();

      font-weight: 400;
      opacity: .7;

      $size: 10px;

      font-size: $size;
      line-height: $size + 2;
      margin-left: 17px;

      span.country {
        display: none;
      }
    }

    transition: 0.3s;
  }
}
