@import '../../../../containers/App/styles/typography';
@import '../../../../containers/App/styles/pallete';
@import '../../../../containers/App/styles/screens';

:local(.styles) {
  white-space: nowrap;
  display: inline-block;

  padding: 10px 0;

  @media (#{$phone}) {
    display: block;

    padding: 0 20px;
  }

  .city {
    @include paragraph();

    opacity: .5;
    
    font-size: 16px;
    line-height: 30px;

    margin-right: 20px;
  }

  a.name {
    color: $black;

    &:visited {
      color: $purple;
    }

    .city {
      @include caption();
      
      position: relative;
      z-index: 0;

      font-size: 38px;

      opacity: 1;
      
      margin-right: 20px;

      @media (#{$phone}) {
        font-size: 22px;
      }
    }
  }

  .date {
    @include paragraph();

    display: inline-block;

    font-size: 12px;
    letter-spacing: 2px;

    opacity: .7;

    position: relative;
    top: -1px;

    span.country {
      display: none;
    }
  }

  span.devider {
    @include paragraph();

    color: $red;
    font-weight: 300;
    font-style: italic;

    margin: 0 20px;

    @media (#{$phone}) {
      display: none;
    }
  }
}
