@import '../../../containers/App/styles/typography';
@import '../../../containers/App/styles/pallete';

:local(.styles) {
  padding: 35px 0;

  section {
    margin: 30px 0;
    padding: 20px 0;
  }

  section.places {
    
    .more {
      margin-top: 20px;
    }
  }

  section.hacks {
    border: 1px solid rgba(0, 0, 0, .1);
  }

  p.title {
    @include caption();
    font-weight: bold;

    font-size: 36px;
    line-height: 36px;
    
    margin-top: 30px;
    margin-bottom: 30px;

    text-align: center;
  }

  p.text {
    @include paragraph();

    font-size: 16px;
    line-height: 22px;

    margin-bottom: 20px;

    display: none;
  }

  .more {
    @include caption();

    padding: 13px 30px;

    border-radius: 33px;
  }
}
