:local(.styles) {
  position: relative;

  .sepia {
    -webkit-filter: contrast(1) grayscale(1) sepia(.7);
    -moz-filter: url(#sepia);
    -o-filter: url(#sepia);
    -ms-filter: contrast(1) grayscale(1) sepia(.7);
    filter: url(#sepia);
  }
}
