.root {
  
  .nav {
    position: fixed;
    width: 100%;

    .type {
      font-size: 12px;
      opacity: .7;
      
      display: inline-block;

      margin-right: 13px;

      cursor: pointer;

      &:hover, &.active {
        opacity: 1;
      }

      &::first-letter {
        text-transform: uppercase;
      }
    }

    hr {
      margin: 10px 0;
    }

    a {
      font-size: 12px;
      line-height: 19px;
      display: block;

      &.hide {
        color: #000;
        opacity: .5;
      }
    }
  }
}
