<div class="page-style"
	data-bgcolor="black">
</div>

<img src="<%= url %>/top.jpg">

<div class="top-page-city-name on-image">
	Florence
</div>

<img src="<%= url %>/city.jpg" class="photo">

<img src="<%= url %>/cathedral-1.jpg" class="photo">

<div class="container">
	<div class="row">

		<div class="photo col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<a target="_blank" href="<%= url %>/cathedral-2.jpg">
				<img src="<%= url %>/cathedral-2.jpg">
			</a>
		</div>

		<div class="photo col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<a target="_blank" href="<%= url %>/street-1.jpg">
				<img src="<%= url %>/street-1.jpg">
			</a>
		</div>

		<div class="photo col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<a target="_blank" href="<%= url %>/street.jpg">
				<img src="<%= url %>/street.jpg">
			</a>
		</div>

		<div class="photo col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<a target="_blank" href="<%= url %>/cathedral-3.jpg">
				<img src="<%= url %>/cathedral-3.jpg">
			</a>
		</div>

		<div class="photo col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<a target="_blank" href="<%= url %>/photobooth.jpg">
				<img src="<%= url %>/photobooth.jpg">
			</a>
		</div>

		<div class="photo col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<a target="_blank" href="<%= url %>/street-2.jpg">
				<img src="<%= url %>/street-2.jpg">
			</a>
		</div>

		<div class="photo col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<a target="_blank" href="<%= url %>/bar.jpg">
				<img src="<%= url %>/bar.jpg">
			</a>
		</div>

	</div>
</div>

<img src="<%= url %>/bottom.jpg" class="photo-margin-top">
