@import '../../../../containers/App/styles/pallete';
@import '../../../../containers/App/styles/screens';
@import '../../../../containers/App/styles/typography';

// Vars
$thumb-height-tablet: 530px;
$thumb-height-desktop: 550px;
$thumb-height-large-desktop: 470px;

:local(.styles) {
  transition: 0s;

  border-radius: 2px;

  overflow: hidden;

  // Set height size for desktop
  @media (#{$desktop}) {
    height: $thumb-height-desktop;
  }

  // Set height size for large desktop
  @media (#{$large-desktop}) {
    height: $thumb-height-large-desktop;
  }

  // Classnames
  .white {
    color: #FFF;
  }

  .img-wrap {
    overflow: hidden;
    display: inline-block;

    border-radius: 2px;

    margin-bottom: 30px;

    // Set height size for desktop
    @media (#{$desktop}) {
      max-height: $thumb-height-desktop - 20;
    }

    // Set height size for large desktop
    @media (#{$large-desktop}) {
      max-height: $thumb-height-large-desktop - 20;
    }
  }

  .render-cities-as-text {
    @include paragraph();

    font-size: 12px;
    line-height: 18px;

    display: inline-block;
    margin-right: 6px;
  }
}
