@import '../../../containers/app/styles/typography';
@import '../../../containers/app/styles/pallete';
@import '../../../containers/app/styles/screens';

:local(.styles) {
  margin-top: 10px;
  margin-bottom: 40px;

  a {
    @include ui-active();
    
    display: inline-block;
    margin-right: 10px;

    font-size: 12px;
  }

  &.filter-tags {
    opacity: 0;
  }
}
