.root {
  $width: 230px;

  .center {
    text-align: center;
    overflow: hidden;

    display: block;
    height: 230px;
  }

  .girl {
    width: $width;
    height: $width;

    overflow: hidden;

    display: inline-block;

    img {
      min-width: 400px;
    }
  }

  .keyhole {
    margin-left: -$width;

    width: $width;

    overflow: hidden;
    position: absolute;
  }
}
