@import '../../../../styles/pallete';
@import '../../../../styles/typography';
@import '../../../../styles/screens';

// Vars
$thumb-height-desktop: 600px;
$thumb-height-large-desktop: 700px;

// Paragraph style
@mixin paragraph() {
  
  // Typography, size, font-weight
  .data {

    &.no-cover-no-link {
      color: $gray;
    }

    p.city {
      @include serif-caption();
      @include light();

      $size: 38px;

      font-size: $size;
      line-height: $size;
    }

    p.date {
      @include open-sans();
      @include light();

      span.country {
        @include normal();
      }
    }
  }
}

:local(.styles) {
  transition: 0s;

  border-radius: 2px;

  overflow: hidden;

  color: #000;

  @include paragraph();

  // Set height size for desktop
  @media (#{$desktop}) {
    height: $thumb-height-desktop;
  }

  // Set height size for large desktop
  @media (#{$large-desktop}) {
    height: $thumb-height-large-desktop;
  }


  &.white {
    color: #FFF !important;
  }

  // Information on card
  .data {
    position: absolute;
    margin: 20px;

    p.date {
      position: relative;

      $size: 12px;

      font-size: $size;
      line-height: $size + 4;
    }
  }

  .img-wrap {
    overflow: hidden;
    display: inline-block;

    border-radius: 2px;

    margin-bottom: 30px;

    // Set height size for desktop
    @media (#{$desktop}) {
      max-height: $thumb-height-desktop - 20;
    }

    // Set height size for large desktop
    @media (#{$large-desktop}) {
      max-height: $thumb-height-large-desktop - 20;
    }
  }
}
