/* global styles */

@import 'fonts/roboto';
@import 'typography';
@import 'pallete';
@import 'buttons';
@import 'page';

:global(body) {
  position: relative;

  a {
    color: $link;
    text-decoration: none;
    
    &:hover {
      color: $linkHover;
      text-decoration: none;
    }

    &:visited:hover {
      color: $linkHover;
    }

    &:visited {
      color: $linkVisited;
    }
  }

  img {
    width: 100%;
  }

  .photo {
    margin: 10px 0 20px;
  }
}
