/* global styles */

@import 'fonts/roboto';
@import 'typography';
@import 'pallete';
@import 'buttons';
@import 'page';

:global(body) {
  position: relative;

  color: $black;
  background: $white;

  a {
    color: $link;
    text-decoration: none;

    &.active {
      color: $black;
    }
    
    &:hover {
      color: $linkHover;
      text-decoration: none;
    }
  }

  img {
    width: 100%;
  }

  .photo {
    margin: 10px 0 20px;
  }

  .loading {
    margin-top: 15px;
    margin-left: 20px;
  }
}
