/* global styles */

@import 'typography';
@import 'pallete';
@import 'buttons';
@import 'page';


:global(body) {
  $borderSize: 0;

  color: $black;
  background: $white;

  border-top: $borderSize solid $red;
  border-left: $borderSize solid $red;
  border-right: $borderSize solid $red;

  // height: 100%;

  &:after {
    content: " ";
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 5px;

    border-bottom: $borderSize solid $red;    
  }

  a {
    color: $link;
    text-decoration: none;

    &.active {
      color: $red;
    }
    
    &:hover {
      color: $linkHover;
      text-decoration: none;
    }

    &:visited {
      color: $purple;
    }
  }

  img {
    width: 100%;
  }

  .photo {
    margin: 10px 0 20px;
  }

  .loading {
    margin-top: 15px;
    margin-left: 20px;
  }
}
