@import 'typography';
@import 'screens';

h1.page-title {
  font-weight: 300;
  font-style: italic;
  line-height: 300px;
  color: $red;

  position: fixed;
  z-index: 0;

  right: 40px;

  opacity: 1;

  @media (#{$phone}) {
    font-size: 140px;
    bottom: -80px;
  }

  @media (#{$tablet}) {
    font-size: 200px;
    bottom: -80px;
  }

  @media (#{$desktop}) {
    font-size: 300px;
    bottom: -50px;
  }
}