// Colours

$black: #282725;
$gray: rgba(14, 14, 14, 1);
$white: #FFF;
// $white: rgba(249, 249, 249, 1);

$red: #DC143C;
$blue: #0000CD;
$blueLight: #1E90FF;
$purple: #803EB9;
$pink: #BA55D3;
$green: #32CD32;

// UI
$link: $blue;
$linkHover: $blue;
$linkVisited: $purple;

@mixin ui-active() {
  @include light();

  color: $gray;

  cursor: pointer;

  &:hover {
    color: $black;
  }

  &.active {
    @include normal();

    color: $red;
  }
}
