@import url('https://fonts.googleapis.com/css?family=Eczar:400,500,700|Merriweather+Sans:300,300i,400,700,800');

@mixin caption() {
  font-family: 'Eczar', serif;
}

@mixin paragraph() {
  font-family: 'Merriweather Sans', sans-serif;
}

@mixin light() {
  font-weight: 300;
}

@mixin normal() {
  font-weight: 400;
}

@mixin bold() {
  font-weight: 700;
}

body {
  @include paragraph();
}

h1,
h2,
h3,
h4,
h5,
h6, {
  @include caption();
  font-weight: 800;
}

@mixin header($size) {
  font-size: $size;

  margin-top: $size * 2;
  margin-bottom: $size / 2;
}

h1 {
  @include header(40px);
}

h2 {
  @include header(36px);

  margin-top: 40px;
}

h3 {
  @include header(28px);
}

@mixin paragraph() {
  @include light();

  $size: 18px;

  font-size: $size;
  line-height: $size + 10;
}

p {
  @include paragraph();

  font-size: 17px;
  line-height: 27px;
}

ul {

  li {
    @include caption();

    font-size: 16px;
    font-weight: 100;
    line-height: 26px;
  }
}

small {
  font-size: 12px;
}