@import 'screens';

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,700,800');

@mixin caption() {
  font-family: 'Merriweather Sans', sans-serif;
}

@mixin paragraph() {
  font-family: 'Merriweather Sans', sans-serif;
}

@mixin light() {
  font-weight: 300;
}

@mixin normal() {
  font-weight: 400;
}

@mixin bold() {
  font-weight: 700;
}

body {
  @include paragraph();
}

h1,
h2,
h3,
h4,
h5,
h6, {
  @include caption();

  font-weight: 300;
}

@mixin header($size) {
  font-size: $size;

  margin-top: $size * 2;
  margin-bottom: $size / 2;
}

h1 {
  @include header(30px);
}

h2 {
  @include header(26px);

  margin-top: 40px;
}

h3 {
  @include header(18px);
}

@mixin paragraph() {
  @include light();

  $size: 18px;

  font-size: $size;
  line-height: $size + 10;
}

p {
  @include paragraph();

  font-size: 17px;
  line-height: 27px;

  padding-bottom: 10px;
}

ul {

  li {
    @include paragraph();

    font-size: 16px;
    font-weight: 100;
    line-height: 26px;
  }
}
