@import '../../../../containers/App/styles/typography';
@import '../../../../containers/App/styles/pallete';

:local(.styles) {
  white-space: nowrap;
  display: inline-block;

  padding: 10px 0;

  a {
    position: relative;
    z-index: 0;

    color: $black;
    font-size: 38px;
    
    margin-right: 20px;

    &.name {
      @include caption();
    }

    span.date {
      @include paragraph();

      font-size: 12px;
      letter-spacing: 2px;
      vertical-align: top;

      margin-left: 10px;
      opacity: .7;
    }

    span.devider {
      @include paragraph();

      color: $red;
      font-weight: 300;
      font-style: italic;

      margin: 0 20px;
    }
  }
}
