:local(.styles) {
  font-family: 'Open Sans', sans-serif;
  
  margin-top: 20px;

  border: 2px solid #000;

  a {
    border-right: 2px solid #000;
    padding: 13px 37px;

    display: inline-block;
  }
}
