@import '../../../containers/App/styles/typography';
@import '../../../containers/App/styles/pallete';

:local(.styles) {
  position: fixed;
  z-index: 7;

  top: 0;
  left: 0;

  width: 100%;

  text-align: center;
  padding: 20px 0;

  .burger {
    cursor: pointer;

    position: relative;
    z-index: 7;
  }

  .menu {
    opacity: 0;

    position: fixed;
    z-index: 3;

    top: -99999;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, .97);

    padding-top: 15%;

    transition: opacity .3s;

    &.show {
      opacity: 1;
      top: 0;
    }

    a.nav {
      @include caption();

      font-size: 60px;
      line-height: 120px;
      font-weight: 500;
      color: $black;

      &:hover {
        color: $linkHover;
        text-decoration: none;
      }

      &.active {
        color: $red;
      }
    }
  }
}
