body {
  padding: 33px 0;
  margin: 0;

  font-family: 'Helvetica';
  font-size: 18px;
  font-weight: normal;

  color: #000;

  -webkit-font-smoothing: antialiased;
}

/* Typography */

h1 {
  font-size: 18px;
  line-height: 19px;

  font-weight: 600;

  margin-bottom: 10px;
}

h2 {
  font-size: 15px;
  line-height: 15px;

  font-weight: 600;

  margin-top: 20px;
}

h3 {
  font-size: 15px;
  line-height: 15px;

  font-weight: 600;
}

h4 {
  font-size: 13px;
  line-height: 13px;

  font-weight: 600;
}

h4 a {
  color: blue;
  border: 1px solid blue;

  padding: 5px 10px;
  border-radius: 5px;

  font-size: 12px;

  margin: 7px 0;
  display: inline-block;
}

p, ul {
  font-size: 14px;
  line-height: 18px;
}

p, ul li {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

iframe {
  border-radius: 3px;
}

.center {
  text-align: center;
}

/* Link */

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;

  opacity: .7;
}

a:visited {
  // color: #DD67FF;
}

a:active {
  color: red;
}

/* Images */

img {
  width: 100%;
  margin-bottom: 3px;
  border-radius: 3px;
}

hr {
  margin: 30px 0 20px;
}
