@import-normalize;

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover {
  color: blue;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'HelveticaNeue-CondensedBold', Impact;
}

sup: {
  margin-left: 15px;
}

p,
ul {
  font-size: 1rem;
  line-height: 2rem;
}
