@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: blue;
  text-decoration: none;
}

mark {
  border-radius: 3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
}

small {
  letter-spacing: 0.1rem;
}

time {
  opacity: 0.3;
  margin-left: 1rem;
}
