@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h3 {
  font-weight: 600;
  letter-spacing: 0.07rem;
}

hr {
  width: 100vw;
}

q {
  font-style: italic;
}

img {
  border-radius: 3px;
}

mark {
  border-radius: 3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
}

small {
  letter-spacing: 0.1rem;
}

time {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  opacity: 0.3;
}

@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: #000;
  }
  a {
    color: blue;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #fff;
  }
  a {
    color: #ccff00;
  }
}
