@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: blue;
  text-decoration: none;
}
