@import '../../../../containers/App/styles/typography';
@import '../../../../containers/App/styles/pallete';
@import '../../../../containers/App/styles/screens';

:local(.styles) {
  @include caption();
  
  font-size: 10px;
  font-weight: 500;

  color: $green;
  background: #FFF;

  padding: 1px 4px;
  position: relative;

  border-radius: 2px;

  top: -21px;
  left: 6px;
}
